*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
html,body{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}
.container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box{
    
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
    /* font-size: 25px; */
    text-align: center;
    background-color: white;
}
.firstRow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;   
}
.secondRow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px
}
input{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}
h1{
    margin-bottom: 20px;
    font-size: 40px;
}
button{
    width:80px;
    padding:15px;
    margin-bottom: 15px;
    border:none;
    border-radius: 5px;
    height:50px;
}

i{
    font-size: 20px;
}
#squareOdd{
    text-align: center;
    overflow-x: scroll;
    width: 30px;
    display: inline-block;
    scrollbar-width: none;
}
#para{
    background-color: white;
    padding: 25px;
    display: inline-block;
    text-align: center;
    overflow-x: scroll;
    width:100%;
    scrollbar-width: none;
}
#triangleOdd{
    text-align: center;
    scrollbar-width: none;
    display: inline-block;
    width: 30px;
    overflow-x: scroll;
}
#revtriangleOdd{
    text-align: center;
    scrollbar-width: none;
    display: inline-block;
    width: 30px;
    overflow-x: scroll;
}
#diamondOdd{
    text-align: center;
    scrollbar-width: none;
    display: inline-block;
    width: 30px;
    overflow-x: scroll;
}
#righttriangleOdd{
    text-align: center;
    scrollbar-width: none;
    display: inline-block;
    width: 30px;
    overflow-x: scroll;
}
#lefttriangleOdd{
    text-align: center;
    scrollbar-width: none;
   float:left;
    width: 30px;
    overflow-x: scroll;
}
#revlefttriangleOdd{
    text-align: center;
    scrollbar-width: none;
   float:left;
    width: 30px;
    overflow-x: scroll;
}
#hourglassOdd{
    text-align: center;
    scrollbar-width: none;
    display: inline-block;
    width: 30px;
    overflow-x: scroll;
}
select{
    text-align: center;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
 .box1{
    gap:20px;
    /* flex-wrap: nowrap; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
